set -euo pipefail

use_nix() {
    local cache=.direnv.cache
    if [[ ! -e "${cache}" || \
              "${HOME}/.direnvrc" -nt "${cache}" || \
              .envrc -nt "${cache}" || \
              default.nix -nt "${cache}" || \
              nix/*.nix -nt "${cache}" || \
              release.nix -nt "${cache}" || \
              shell.nix -nt "${cache}" \
        ]]; then
        local tmp="$(mktemp "${cache}.tmp-XXXXXXXX")"
        trap "rm -rf ${tmp}" EXIT

        nix-shell --show-trace "$@" --run 'direnv dump' > "${tmp}"
        mv "${tmp}" "${cache}"
    fi

    if direnv_load cat "${cache}"; then
        watch_file default.nix
        watch_file nix/*.nix
        watch_file release.nix
        watch_file shell.nix
    fi
}

use_nix
