jobs:
  base:
    docker:
      - image: nixorg/nix:circleci
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-nix-{{ checksum "default.nix" }}
            - v1-nix-
          name: Restoring nix cache
      - run:
          command: nix-shell --run 'exit'
          name: Setup nix environment
      - save_cache:
          key: v1-nix-{{ checksum "default.nix" }}
          name: Saving cache
          paths:
            - /nix

      - restore_cache:
          keys:
            - v1-build-{{ checksum ".circleci/cache" }}
            - v1-build-
          name: Restoring build cache
      - run:
          command: nix-shell --run 'shake build sdist test'
          name: Build
      - save_cache:
          key: v1-build-{{ checksum ".circleci/cache" }}
          name: Saving cache
          paths:
            - _build
      - run:
          command: nix-shell --run 'shake .circleci/cache'
          name: Checking cache is updated

version: 2

workflows:
  base:
    jobs:
      - base

  version: 2
