jobs:
  base:
    docker:
      - image: nixorg/nix:circleci
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-nix-{{ checksum "default.nix" }}
            - v1-nix-
          name: Restoring nix cache
      - run:
          command: nix-shell --run 'exit'
          name: Setup nix environment
          no_output_timeout: 30m
      - save_cache:
          key: v1-nix-{{ checksum "default.nix" }}
          name: Saving nix cache
          paths:
            - /nix

      - restore_cache:
          keys:
            - v2-shake-{{ .Branch }}
            - v2-shake-master
          name: Restoring shake cache
      - run:
          command: nix-shell --run 'shake ci'
          environment:
            XDG_CACHE_HOME: .cache
          name: Build
      - save_cache:
          key: v2-shake-{{ .Branch }}-{{ epoch }}
          name: Saving shake cache
          paths:
            - .cache/shake

version: 2

workflows:
  base:
    jobs:
      - base

  version: 2
